<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Teléfono virtual gratuito. Recepción de mensajes de texto al número de teléfono virtual
  gratuito">
  <!-- Logo -->
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
  
  <title>Login | OnlyHub </title>

  <!-- Links css -->

  <link rel="stylesheet" href="css/tipografia.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!-- Nav + img + menu movil -->
  <nav class="flex lg:justify-between items-center bg-white shadow w-auto">
    <!-- Botón de menú que se muestra solo en pantallas pequeñas -->
    <button class="block lg:hidden xs:block xs:mt-3 pl-7" onclick="openMenuDesplegable()" id="openMenu"
      aria-label="Menu">
      <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16"
        style="color: currentcolor;">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M1 2H1.75H14.25H15V3.5H14.25H1.75H1V2ZM1 12.5H1.75H14.25H15V14H14.25H1.75H1V12.5ZM1.75 7.25H1V8.75H1.75H14.25H15V7.25H14.25H1.75Z"
          fill="currentColor"></path>
      </svg>
    </button>

    <!-- Imagen del logo -->
    <div class="p-4 flex lg:self-end xs:self-center w-full justify-center lg:justify-start lg:ml-72 xs:ml-0">
      <img class="img-fluid" src="img/logo.png" width="48px" height="48px" alt="Logo">
    </div>
    <h4 class="w-24 h-1 block lg:hidden"></h4>
    <h4 class="w-2 h-1 block lg:hidden"></h4>
    <!-- Botones que se muestran solo en pantallas grandes -->
    <div class="hidden lg:flex space-x-0 p-4 lg:mr-32">

      <button class="color2 w-20 h-10 rounded-md text-sm font-medium hover:text-black" aria-label="Log in">
        <p> Profile</p>
      </button>
      <button
        class="color1 w-20 h-10 rounded-md text-sm font-medium border border-gray-200 rounded-lg hover:bg-gray-100"
        aria-label="Sing Up">
        <p> Log Out</p>
      </button>
    </div>
  </nav>

  <!-- Añadir aqui los menus -->
  <div id="menu" class="w-full h-screen bg-white flex flex-col items-center" style="display: none;">
    <!-- Log In -->
    <button
      class="color1 w-11/12 h-11 rounded-lg border border-gray-200 hover:bg-gray-100 mb-4 mt-10 bg-white flex-grow ml-3"
      aria-label="Sing Up">
      <p> Log Out</p>
    </button>

  </div>

  <!-- SMS Sender -->
  <section id="contenido" class="w-screen h-screen">
    <div class="flex justify-center">
      <div class="mx-auto max-w-md space-y-6 mr-4 ml-4 mt-20 lg:mt-44">
        <div class="space-y-2 text-center">
          <h1 class="text-4xl font-bold">Teléfono virtual gratuito</h1>
          <p class="text-gray-500 dark:text-gray-400">Recepción de mensajes de texto al número de teléfono virtual
            gratuito</p>
        </div>
      </div>
    </div>
    <!-- Contenido numeros de telefono -->
    <div class="flex justify-center mt-12 xs:mt-2">
      <div class="w-4/5 border border-gray-200 h-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-7 ml-4 mb-7">
          <div>
            <input
            id="countryInput"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 mb-2"
            placeholder="Enter country"
            type="search"
        />
        
            <div dir="ltr" class="relative overflow-hidden border rounded-md h-[300px] barra"
              style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
              <div data-radix-scroll-area-viewport="" class=" h-full w-full rounded-[inherit]"
                style="overflow: hidden scroll;">
                <div style="min-width: 100%; display: table;">
                  <div class="w-1 h-4"></div>
                  <div id="botones-container"></div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="flex justify-center">
              <div class="mb-5 font-bold mt-1">Numeros Disponibles</div>
            </div>
            <div dir="ltr" class="relative overflow-hidden border rounded-md h-[300px]"
              style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
              <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit]"
                style="overflow: hidden scroll;">
                <div style="min-width: 100%; display: table;">
                  <div id="botones-container" class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-0 w-full">
                    <!-- Los botones se agregarán aquí dinámicamente -->
                    <div id="numeroTelefono"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="mr-4">
            <div class="flex items-center justify-between mb-3 ">
              <div class="flex items-center space-x-2">
                <div
                  class="inline-flex w-fit items-center whitespace-nowrap rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80">
                  <span id="plusOcultar" style="visibility: hidden;">+</span><span id="CopiarTelefono"></span>
                </div>
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3" aria-label="CopiarTelefono" id="CopiarTelefonoBoton" style="visibility: hidden;"data-tippy-content="Descargar">
                  <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16"
                    style="color: currentcolor;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z"
                      fill="currentColor"></path>
                  </svg>
                </button>
              </div>
              <div class="text-xs text-muted-foreground" id="ultimoSMS"> </div>
            </div>
            <div dir="ltr" class="relative overflow-hidden border rounded-md h-[300px]"
              style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
              <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit]"
                style="overflow: hidden scroll;">
                <div style="min-width: 100%; display: table;">
                  <div id="mensajesContainer" class="flex flex-col p-4 space-y-2">
                    <!-- Los mensajes se añadirán aquí dinámicamente -->
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1 h-1 mt-10"></div>




  </section>
  <!-- Scrips JS -->
  <script src="js/menu.js"></script>
  <script src="js/SMS.js"></script>

  <!-- Analiticas -->
</body>

</html>