/* La fuente "Geist Sans and Geist Mono" está licenciada bajo SIL Open Font License (OFL) versión 1.1. Consulta la licencia completa en http://scripts.sil.org/OFL */
@font-face {
    font-family: 'Geist Sans and Geist Mono';
    src: url('Geist-1.3.0/Geist-1.3.0/variable-woff/GeistVF.woff2') format('woff2'),
         url('Geist-1.3.0/Geist-1.3.0/variable-woff/GeistVF.woff2') format('opentype');
}
* {
    font-family: 'Geist Sans and Geist Mono', sans-serif;
}
.color1{
    color: #171717;
    font-weight: 600;
}
.color2{
    color: #666666;
   font-weight: 500;
}
.loginTitulo{
    color: #171717;
    font-size: 40px;
    letter-spacing: -2.4px;
    line-height: 40px;
    font-weight: 700;
}
.colorBotones{
   background-color: #171717;}

   ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #EBEBEB; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
